@font-face {
  font-family: "MyFont";
  src: url("./assets/Roboto-Regular.ttf");
}

.app {
  color: royalblue;
  font-family: "MyFont";
  font-size: 40px;
}

.nav {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
}

.nav a {
  text-decoration: none;
  color: royalblue;
  font-family: "MyFont";
  font-size: 20px;
}
